<!-- 创建新主题 -->
{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>Add a new topic:</h2>
{% endblock header %}

{% block content %}

  <!-- 定义HTML表单，实参action为数据发送位置（new_topic视图函数） -->
  <form action="{% url 'learning_logs:new_topic' %}" method="post"
      class="form">

    <!-- 下一行模板标签防止跨站请求伪造攻击 -->
    {% csrf_token %}
    {% bootstrap_form form %}

    <!-- 提交按钮 -->
    {% buttons %}
      <button name="submit">add topic</button>
    {% endbuttons %}
    
  </form>

{% endblock content %}



